




  <mat-nav-list>
      <mat-list-item routerLink="#">
          <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon>assignment</mat-icon><span>    Appointments</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
              <a mat-list-item routerLink="#">
                  <mat-icon>apple</mat-icon><span>iOS</span>
              </a>
              <a mat-list-item routerLink="#">
                  <mat-icon>android</mat-icon><span>Android</span>
              </a>
          </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon>account_box</mat-icon> <span> Patients</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
              <a mat-list-item routerLink="#">Spring</a>
              <a mat-list-item routerLink="#">Hibernate</a>
              <a mat-list-item routerLink="#">Struts</a>
          </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
       <mat-icon class="mat-18">message</mat-icon><span>Chart</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="#">Spring</a>
            <a mat-list-item routerLink="#">Hibernate</a>
            <a mat-list-item routerLink="#">Struts</a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
    <mat-icon class="mat-18">donut_large</mat-icon> Statistics
      </mat-expansion-panel-header>
      <mat-nav-list>
          <a mat-list-item routerLink="#">Spring</a>
          <a mat-list-item routerLink="#">Hibernate</a>
          <a mat-list-item routerLink="#">Struts</a>
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
<mat-icon class="mat-18">watch_later</mat-icon>   Shedule
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item routerLink="#">Spring</a>
        <a mat-list-item routerLink="#">Hibernate</a>
        <a mat-list-item routerLink="#">Struts</a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-divider></mat-divider>

<h3 class="text-3xl font-bold  text-center">
  Patients
</h3>
<mat-divider></mat-divider>
<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>
<mat-icon class="mat-18"> report</mat-icon>  Referals
  </mat-expansion-panel-header>
  <mat-nav-list>
      <a mat-list-item routerLink="#">Spring</a>
      <a mat-list-item routerLink="#">Hibernate</a>
      <a mat-list-item routerLink="#">Struts</a>
  </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>
<mat-icon class="mat-18">report</mat-icon>Prescriptions
  </mat-expansion-panel-header>
  <mat-nav-list>
      <a mat-list-item routerLink="#">Spring</a>
      <a mat-list-item routerLink="#">Hibernate</a>
      <a mat-list-item routerLink="#">Struts</a>
  </mat-nav-list>
</mat-expansion-panel>

  </mat-nav-list>

